version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production

  frontend:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - backend
